In [5]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv",
                             nrows=int(0.5 * len(pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv"))))
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [124]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns = ['EIN', 'NAME'])

In [125]:
# Determine the number of unique values in each column.
for x in application_df.columns:
    print(x, len(application_df[x].unique()))

APPLICATION_TYPE 14
AFFILIATION 6
CLASSIFICATION 47
USE_CASE 5
ORGANIZATION 4
STATUS 2
INCOME_AMT 9
SPECIAL_CONSIDERATIONS 2
ASK_AMT 4158
IS_SUCCESSFUL 2

In [126]:
# Look at APPLICATION_TYPE value counts for binning
counts = application_df['APPLICATION_TYPE'].value_counts()
counts

T3     13822
T6       664
T4       592
T19      459
T8       433
T10      401
T7       375
T5       264
T9        84
T13       33
T12       11
T2         8
T29        2
T25        1
Name: APPLICATION_TYPE, dtype: int64

In [127]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(counts[counts<5].index)
application_types_to_replace

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       13822
T6         664
T4         592
T19        459
T8         433
T10        401
T7         375
T5         264
T9          84
T13         33
T12         11
T2           8
Other        3
Name: APPLICATION_TYPE, dtype: int64

In [128]:
# Look at CLASSIFICATION value counts for binning
bincounts = application_df['CLASSIFICATION'].value_counts()

In [129]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classcounts = bincounts[bincounts>100]
classcounts

C1000    8885
C2000    2982
C1200    2396
C2100    1136
C3000     580
C7000     420
C1700     174
C4000     117
Name: CLASSIFICATION, dtype: int64

In [130]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list (bincounts[bincounts<95].index)
classifications_to_replace

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    8885
C2000    2982
C1200    2396
C2100    1136
C3000     580
Other     459
C7000     420
C1700     174
C4000     117
Name: CLASSIFICATION, dtype: int64

In [131]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df,dtype=float)
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T3,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [132]:
# Split our preprocessed data into our features and target arrays
y = application_df['IS_SUCCESSFUL'].values

X = application_df.drop('IS_SUCCESSFUL', axis=1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state = 50)

In [133]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

# Compile, Train and Evaluate the Model

In [134]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len( X_train_scaled[0])
hidden_nodes_layer1=7
hidden_nodes_layer2=14
hidden_nodes_layer3=21

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation='relu'))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation='relu'))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential_7"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_21 (Dense)            (None, 7)                 357

 dense_22 (Dense)            (None, 14)                112

 dense_23 (Dense)            (None, 1)                 15

=================================================================
Total params: 484
Trainable params: 484
Non-trainable params: 0
_________________________________________________________________

In [135]:
# Compile the model
nn.compile(loss = 'binary_crossentropy', optimizer = 'adam', metrics=['accuracy'])

In [137]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,validation_split=0.15, epochs=100)

Epoch 1/100
342/342 [==============================] - 2s 3ms/step - loss: 0.6505 - accuracy: 0.6423 - val_loss: 0.5818 - val_accuracy: 0.7181
Epoch 2/100
342/342 [==============================] - 1s 2ms/step - loss: 0.5799 - accuracy: 0.7193 - val_loss: 0.5546 - val_accuracy: 0.7482
Epoch 3/100
342/342 [==============================] - 1s 3ms/step - loss: 0.5638 - accuracy: 0.7279 - val_loss: 0.5466 - val_accuracy: 0.7523
Epoch 4/100
342/342 [==============================] - 1s 3ms/step - loss: 0.5571 - accuracy: 0.7331 - val_loss: 0.5417 - val_accuracy: 0.7523
Epoch 5/100
342/342 [==============================] - 1s 2ms/step - loss: 0.5520 - accuracy: 0.7331 - val_loss: 0.5383 - val_accuracy: 0.7528
Epoch 6/100
342/342 [==============================] - 1s 2ms/step - loss: 0.5485 - accuracy: 0.7402 - val_loss: 0.5358 - val_accuracy: 0.7596
Epoch 7/100
342/342 [==============================] - 1s 2ms/step - loss: 0.5450 - accuracy: 0.7415 - val_loss: 0.5324 - val_accuracy: 0.7591
Epoch 8/100
342/342 [==============================] - 1s 2ms/step - loss: 0.5427 - accuracy: 0.7419 - val_loss: 0.5322 - val_accuracy: 0.7591
Epoch 9/100
342/342 [==============================] - 1s 2ms/step - loss: 0.5415 - accuracy: 0.7412 - val_loss: 0.5303 - val_accuracy: 0.7591
Epoch 10/100
342/342 [==============================] - 1s 3ms/step - loss: 0.5401 - accuracy: 0.7424 - val_loss: 0.5318 - val_accuracy: 0.7591
Epoch 11/100
342/342 [==============================] - 1s 3ms/step - loss: 0.5397 - accuracy: 0.7427 - val_loss: 0.5329 - val_accuracy: 0.7585
Epoch 12/100
342/342 [==============================] - 1s 3ms/step - loss: 0.5389 - accuracy: 0.7434 - val_loss: 0.5327 - val_accuracy: 0.7606
Epoch 13/100
342/342 [==============================] - 1s 3ms/step - loss: 0.5387 - accuracy: 0.7427 - val_loss: 0.5322 - val_accuracy: 0.7601
Epoch 14/100
342/342 [==============================] - 1s 2ms/step - loss: 0.5377 - accuracy: 0.7438 - val_loss: 0.5320 - val_accuracy: 0.7627
Epoch 15/100
342/342 [==============================] - 1s 3ms/step - loss: 0.5375 - accuracy: 0.7441 - val_loss: 0.5337 - val_accuracy: 0.7637
Epoch 16/100
342/342 [==============================] - 1s 2ms/step - loss: 0.5374 - accuracy: 0.7433 - val_loss: 0.5343 - val_accuracy: 0.7601
Epoch 17/100
342/342 [==============================] - 1s 3ms/step - loss: 0.5369 - accuracy: 0.7447 - val_loss: 0.5317 - val_accuracy: 0.7617
Epoch 18/100
342/342 [==============================] - 1s 2ms/step - loss: 0.5368 - accuracy: 0.7459 - val_loss: 0.5309 - val_accuracy: 0.7606
Epoch 19/100
342/342 [==============================] - 1s 2ms/step - loss: 0.5361 - accuracy: 0.7469 - val_loss: 0.5315 - val_accuracy: 0.7591
Epoch 20/100
342/342 [==============================] - 1s 3ms/step - loss: 0.5357 - accuracy: 0.7465 - val_loss: 0.5346 - val_accuracy: 0.7606
Epoch 21/100
342/342 [==============================] - 1s 3ms/step - loss: 0.5357 - accuracy: 0.7463 - val_loss: 0.5319 - val_accuracy: 0.7611
Epoch 22/100
342/342 [==============================] - 1s 2ms/step - loss: 0.5355 - accuracy: 0.7462 - val_loss: 0.5331 - val_accuracy: 0.7606
Epoch 23/100
342/342 [==============================] - 1s 2ms/step - loss: 0.5351 - accuracy: 0.7461 - val_loss: 0.5319 - val_accuracy: 0.7591
Epoch 24/100
342/342 [==============================] - 1s 2ms/step - loss: 0.5351 - accuracy: 0.7461 - val_loss: 0.5329 - val_accuracy: 0.7580
Epoch 25/100
342/342 [==============================] - 1s 3ms/step - loss: 0.5347 - accuracy: 0.7468 - val_loss: 0.5312 - val_accuracy: 0.7632
Epoch 26/100
342/342 [==============================] - 1s 3ms/step - loss: 0.5348 - accuracy: 0.7461 - val_loss: 0.5323 - val_accuracy: 0.7637
Epoch 27/100
342/342 [==============================] - 1s 4ms/step - loss: 0.5343 - accuracy: 0.7475 - val_loss: 0.5344 - val_accuracy: 0.7637
Epoch 28/100
342/342 [==============================] - 1s 3ms/step - loss: 0.5346 - accuracy: 0.7457 - val_loss: 0.5323 - val_accuracy: 0.7648
Epoch 29/100
342/342 [==============================] - 1s 2ms/step - loss: 0.5345 - accuracy: 0.7460 - val_loss: 0.5317 - val_accuracy: 0.7653
Epoch 30/100
342/342 [==============================] - 1s 2ms/step - loss: 0.5338 - accuracy: 0.7465 - val_loss: 0.5318 - val_accuracy: 0.7617
Epoch 31/100
342/342 [==============================] - 1s 2ms/step - loss: 0.5345 - accuracy: 0.7466 - val_loss: 0.5331 - val_accuracy: 0.7637
Epoch 32/100
342/342 [==============================] - 1s 2ms/step - loss: 0.5340 - accuracy: 0.7465 - val_loss: 0.5306 - val_accuracy: 0.7632
Epoch 33/100
342/342 [==============================] - 1s 2ms/step - loss: 0.5335 - accuracy: 0.7470 - val_loss: 0.5323 - val_accuracy: 0.7637
Epoch 34/100
342/342 [==============================] - 1s 3ms/step - loss: 0.5336 - accuracy: 0.7462 - val_loss: 0.5299 - val_accuracy: 0.7627
Epoch 35/100
342/342 [==============================] - 1s 2ms/step - loss: 0.5336 - accuracy: 0.7470 - val_loss: 0.5307 - val_accuracy: 0.7627
Epoch 36/100
342/342 [==============================] - 1s 3ms/step - loss: 0.5333 - accuracy: 0.7474 - val_loss: 0.5298 - val_accuracy: 0.7627
Epoch 37/100
342/342 [==============================] - 1s 2ms/step - loss: 0.5332 - accuracy: 0.7460 - val_loss: 0.5327 - val_accuracy: 0.7637
Epoch 38/100
342/342 [==============================] - 1s 3ms/step - loss: 0.5329 - accuracy: 0.7464 - val_loss: 0.5289 - val_accuracy: 0.7627
Epoch 39/100
342/342 [==============================] - 1s 2ms/step - loss: 0.5332 - accuracy: 0.7469 - val_loss: 0.5305 - val_accuracy: 0.7585
Epoch 40/100
342/342 [==============================] - 1s 3ms/step - loss: 0.5329 - accuracy: 0.7468 - val_loss: 0.5282 - val_accuracy: 0.7611
Epoch 41/100
342/342 [==============================] - 1s 4ms/step - loss: 0.5331 - accuracy: 0.7466 - val_loss: 0.5283 - val_accuracy: 0.7627
Epoch 42/100
342/342 [==============================] - 1s 3ms/step - loss: 0.5331 - accuracy: 0.7454 - val_loss: 0.5295 - val_accuracy: 0.7601
Epoch 43/100
342/342 [==============================] - 1s 3ms/step - loss: 0.5327 - accuracy: 0.7467 - val_loss: 0.5283 - val_accuracy: 0.7622
Epoch 44/100
342/342 [==============================] - 1s 2ms/step - loss: 0.5324 - accuracy: 0.7468 - val_loss: 0.5288 - val_accuracy: 0.7622
Epoch 45/100
342/342 [==============================] - 1s 2ms/step - loss: 0.5324 - accuracy: 0.7474 - val_loss: 0.5319 - val_accuracy: 0.7627
Epoch 46/100
342/342 [==============================] - 1s 3ms/step - loss: 0.5324 - accuracy: 0.7465 - val_loss: 0.5288 - val_accuracy: 0.7611
Epoch 47/100
342/342 [==============================] - 1s 2ms/step - loss: 0.5322 - accuracy: 0.7468 - val_loss: 0.5324 - val_accuracy: 0.7627
Epoch 48/100
342/342 [==============================] - 1s 2ms/step - loss: 0.5322 - accuracy: 0.7478 - val_loss: 0.5266 - val_accuracy: 0.7606
Epoch 49/100
342/342 [==============================] - 1s 3ms/step - loss: 0.5325 - accuracy: 0.7468 - val_loss: 0.5276 - val_accuracy: 0.7622
Epoch 50/100
342/342 [==============================] - 1s 2ms/step - loss: 0.5323 - accuracy: 0.7458 - val_loss: 0.5286 - val_accuracy: 0.7591
Epoch 51/100
342/342 [==============================] - 1s 2ms/step - loss: 0.5320 - accuracy: 0.7469 - val_loss: 0.5307 - val_accuracy: 0.7596
Epoch 52/100
342/342 [==============================] - 1s 2ms/step - loss: 0.5319 - accuracy: 0.7462 - val_loss: 0.5267 - val_accuracy: 0.7617
Epoch 53/100
342/342 [==============================] - 1s 2ms/step - loss: 0.5324 - accuracy: 0.7465 - val_loss: 0.5269 - val_accuracy: 0.7591
Epoch 54/100
342/342 [==============================] - 1s 3ms/step - loss: 0.5320 - accuracy: 0.7478 - val_loss: 0.5289 - val_accuracy: 0.7622
Epoch 55/100
342/342 [==============================] - 1s 4ms/step - loss: 0.5322 - accuracy: 0.7478 - val_loss: 0.5267 - val_accuracy: 0.7611
Epoch 56/100
342/342 [==============================] - 1s 4ms/step - loss: 0.5316 - accuracy: 0.7473 - val_loss: 0.5259 - val_accuracy: 0.7622
Epoch 57/100
342/342 [==============================] - 1s 2ms/step - loss: 0.5318 - accuracy: 0.7474 - val_loss: 0.5263 - val_accuracy: 0.7627
Epoch 58/100
342/342 [==============================] - 1s 2ms/step - loss: 0.5317 - accuracy: 0.7461 - val_loss: 0.5249 - val_accuracy: 0.7606
Epoch 59/100
342/342 [==============================] - 1s 2ms/step - loss: 0.5316 - accuracy: 0.7467 - val_loss: 0.5266 - val_accuracy: 0.7627
Epoch 60/100
342/342 [==============================] - 1s 2ms/step - loss: 0.5315 - accuracy: 0.7480 - val_loss: 0.5268 - val_accuracy: 0.7601
Epoch 61/100
342/342 [==============================] - 1s 2ms/step - loss: 0.5313 - accuracy: 0.7465 - val_loss: 0.5267 - val_accuracy: 0.7622
Epoch 62/100
342/342 [==============================] - 1s 3ms/step - loss: 0.5315 - accuracy: 0.7474 - val_loss: 0.5282 - val_accuracy: 0.7627
Epoch 63/100
342/342 [==============================] - 1s 2ms/step - loss: 0.5315 - accuracy: 0.7467 - val_loss: 0.5243 - val_accuracy: 0.7622
Epoch 64/100
342/342 [==============================] - 1s 2ms/step - loss: 0.5315 - accuracy: 0.7466 - val_loss: 0.5247 - val_accuracy: 0.7591
Epoch 65/100
342/342 [==============================] - 1s 3ms/step - loss: 0.5313 - accuracy: 0.7478 - val_loss: 0.5252 - val_accuracy: 0.7627
Epoch 66/100
342/342 [==============================] - 1s 2ms/step - loss: 0.5313 - accuracy: 0.7473 - val_loss: 0.5238 - val_accuracy: 0.7627
Epoch 67/100
342/342 [==============================] - 1s 3ms/step - loss: 0.5312 - accuracy: 0.7472 - val_loss: 0.5263 - val_accuracy: 0.7601
Epoch 68/100
342/342 [==============================] - 1s 3ms/step - loss: 0.5311 - accuracy: 0.7480 - val_loss: 0.5247 - val_accuracy: 0.7606
Epoch 69/100
342/342 [==============================] - 1s 4ms/step - loss: 0.5317 - accuracy: 0.7468 - val_loss: 0.5261 - val_accuracy: 0.7611
Epoch 70/100
342/342 [==============================] - 1s 4ms/step - loss: 0.5312 - accuracy: 0.7476 - val_loss: 0.5243 - val_accuracy: 0.7606
Epoch 71/100
342/342 [==============================] - 1s 3ms/step - loss: 0.5309 - accuracy: 0.7490 - val_loss: 0.5233 - val_accuracy: 0.7632
Epoch 72/100
342/342 [==============================] - 1s 2ms/step - loss: 0.5308 - accuracy: 0.7484 - val_loss: 0.5262 - val_accuracy: 0.7591
Epoch 73/100
342/342 [==============================] - 1s 3ms/step - loss: 0.5306 - accuracy: 0.7481 - val_loss: 0.5260 - val_accuracy: 0.7601
Epoch 74/100
342/342 [==============================] - 1s 2ms/step - loss: 0.5307 - accuracy: 0.7480 - val_loss: 0.5255 - val_accuracy: 0.7601
Epoch 75/100
342/342 [==============================] - 1s 2ms/step - loss: 0.5306 - accuracy: 0.7464 - val_loss: 0.5254 - val_accuracy: 0.7611
Epoch 76/100
342/342 [==============================] - 1s 2ms/step - loss: 0.5308 - accuracy: 0.7466 - val_loss: 0.5241 - val_accuracy: 0.7617
Epoch 77/100
342/342 [==============================] - 1s 2ms/step - loss: 0.5308 - accuracy: 0.7471 - val_loss: 0.5239 - val_accuracy: 0.7617
Epoch 78/100
342/342 [==============================] - 1s 3ms/step - loss: 0.5310 - accuracy: 0.7485 - val_loss: 0.5245 - val_accuracy: 0.7596
Epoch 79/100
342/342 [==============================] - 1s 3ms/step - loss: 0.5305 - accuracy: 0.7481 - val_loss: 0.5260 - val_accuracy: 0.7601
Epoch 80/100
342/342 [==============================] - 1s 3ms/step - loss: 0.5306 - accuracy: 0.7472 - val_loss: 0.5252 - val_accuracy: 0.7617
Epoch 81/100
342/342 [==============================] - 1s 2ms/step - loss: 0.5306 - accuracy: 0.7481 - val_loss: 0.5267 - val_accuracy: 0.7617
Epoch 82/100
342/342 [==============================] - 1s 2ms/step - loss: 0.5308 - accuracy: 0.7465 - val_loss: 0.5252 - val_accuracy: 0.7591
Epoch 83/100
342/342 [==============================] - 1s 3ms/step - loss: 0.5309 - accuracy: 0.7479 - val_loss: 0.5258 - val_accuracy: 0.7575
Epoch 84/100
342/342 [==============================] - 1s 4ms/step - loss: 0.5303 - accuracy: 0.7481 - val_loss: 0.5240 - val_accuracy: 0.7606
Epoch 85/100
342/342 [==============================] - 1s 3ms/step - loss: 0.5303 - accuracy: 0.7488 - val_loss: 0.5236 - val_accuracy: 0.7617
Epoch 86/100
342/342 [==============================] - 1s 2ms/step - loss: 0.5308 - accuracy: 0.7492 - val_loss: 0.5258 - val_accuracy: 0.7611
Epoch 87/100
342/342 [==============================] - 1s 2ms/step - loss: 0.5300 - accuracy: 0.7485 - val_loss: 0.5237 - val_accuracy: 0.7606
Epoch 88/100
342/342 [==============================] - 1s 2ms/step - loss: 0.5305 - accuracy: 0.7480 - val_loss: 0.5256 - val_accuracy: 0.7596
Epoch 89/100
342/342 [==============================] - 1s 3ms/step - loss: 0.5301 - accuracy: 0.7481 - val_loss: 0.5250 - val_accuracy: 0.7591
Epoch 90/100
342/342 [==============================] - 1s 3ms/step - loss: 0.5305 - accuracy: 0.7480 - val_loss: 0.5248 - val_accuracy: 0.7611
Epoch 91/100
342/342 [==============================] - 1s 2ms/step - loss: 0.5307 - accuracy: 0.7484 - val_loss: 0.5251 - val_accuracy: 0.7601
Epoch 92/100
342/342 [==============================] - 1s 3ms/step - loss: 0.5302 - accuracy: 0.7473 - val_loss: 0.5245 - val_accuracy: 0.7596
Epoch 93/100
342/342 [==============================] - 1s 2ms/step - loss: 0.5303 - accuracy: 0.7480 - val_loss: 0.5262 - val_accuracy: 0.7580
Epoch 94/100
342/342 [==============================] - 1s 3ms/step - loss: 0.5302 - accuracy: 0.7475 - val_loss: 0.5251 - val_accuracy: 0.7627
Epoch 95/100
342/342 [==============================] - 1s 2ms/step - loss: 0.5303 - accuracy: 0.7481 - val_loss: 0.5254 - val_accuracy: 0.7601
Epoch 96/100
342/342 [==============================] - 1s 2ms/step - loss: 0.5299 - accuracy: 0.7485 - val_loss: 0.5240 - val_accuracy: 0.7617
Epoch 97/100
342/342 [==============================] - 1s 4ms/step - loss: 0.5302 - accuracy: 0.7485 - val_loss: 0.5255 - val_accuracy: 0.7596
Epoch 98/100
342/342 [==============================] - 1s 4ms/step - loss: 0.5297 - accuracy: 0.7489 - val_loss: 0.5245 - val_accuracy: 0.7606
Epoch 99/100
342/342 [==============================] - 1s 3ms/step - loss: 0.5305 - accuracy: 0.7472 - val_loss: 0.5262 - val_accuracy: 0.7617
Epoch 100/100
342/342 [==============================] - 1s 2ms/step - loss: 0.5298 - accuracy: 0.7472 - val_loss: 0.5283 - val_accuracy: 0.7601

In [138]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

134/134 - 0s - loss: 0.5373 - accuracy: 0.7449 - 210ms/epoch - 2ms/step
Loss: 0.5373286008834839, Accuracy: 0.7448694109916687

# Optimization 2

In [6]:
# Drop the non-beneficial ID columns, 'EIN'.
application_df = application_df.drop(columns = ['EIN'])

In [7]:
# Determine the number of unique values in each column.
for x in application_df.columns:
    print(x, len(application_df[x].unique()))

NAME 10554
APPLICATION_TYPE 14
AFFILIATION 6
CLASSIFICATION 47
USE_CASE 5
ORGANIZATION 4
STATUS 2
INCOME_AMT 9
SPECIAL_CONSIDERATIONS 2
ASK_AMT 4158
IS_SUCCESSFUL 2

In [8]:
# Look at NAME value counts for binning
counts2 = application_df['NAME'].value_counts()
counts2

PARENT BOOSTER USA INC                                          746
UNITED STATES BOWLING CONGRESS INC                              489
ALPHA PHI SIGMA                                                 294
MOST WORSHIPFUL STRINGER FREE AND ACCEPTED MASONS               245
TOPS CLUB INC                                                   236
                                                               ...
WILDLIFE REHABILITATION CENTER OF NORTHERN UTAH                   1
HOUSTON FAITH FAMILY CHURCH INC                                   1
SOUTHERN SPORTSMEN FOR YOUTH & PHYSICALLY CHALLENGED HUNTERS      1
FLORIDIANS FOR TAX FAIRNESS INC                                   1
CAPITOL HILL HIGH SCHOOL ALUMNI HALL OF FAME ASSOCIATION          1
Name: NAME, Length: 10554, dtype: int64

In [10]:
# Choose a cutoff value and create a list of names to be replaced
# use the variable name `names_to_replace`
names_to_replace = list(counts2[counts2<5].index)
names_to_replace

# Replace in dataframe
for name in names_to_replace:
    application_df['NAME'] = application_df['NAME'].replace(name,"Other")

# Check to make sure binning was successful
application_df['NAME'].value_counts()

Other                                                              10749
PARENT BOOSTER USA INC                                               746
UNITED STATES BOWLING CONGRESS INC                                   489
ALPHA PHI SIGMA                                                      294
MOST WORSHIPFUL STRINGER FREE AND ACCEPTED MASONS                    245
                                                                   ...
JACKSONVILLE DISTRICT COUNCIL SOCIETY OF ST VINCENT DE PAUL INC        5
ZETA PHI BETA SORORITY INC                                             5
INTERNATIONAL CONGRESS OF CHURCHES MINISTERS                           5
CALIFORNIA WOMENS CHORUS                                               5
NATIONAL COUNCIL FOR GEOCOSMIC RESEARCH INC                            5
Name: NAME, Length: 231, dtype: int64

In [12]:
# Look at APPLICATION TYPE value counts for binning
bincounts = application_df['APPLICATION_TYPE'].value_counts()
bincounts

T3     13822
T6       664
T4       592
T19      459
T8       433
T10      401
T7       375
T5       264
T9        84
T13       33
T12       11
T2         8
T29        2
T25        1
Name: APPLICATION_TYPE, dtype: int64

In [13]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list (bincounts[bincounts<500].index)
application_types_to_replace

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")
    
# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       13822
Other     2071
T6         664
T4         592
Name: APPLICATION_TYPE, dtype: int64

In [14]:
# Look at CLASSIFICATION value counts for binning
bincounts2 = application_df['CLASSIFICATION'].value_counts()

In [15]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classcounts = bincounts[bincounts>1]
classcounts

T3     13822
T6       664
T4       592
T19      459
T8       433
T10      401
T7       375
T5       264
T9        84
T13       33
T12       11
T2         8
T29        2
Name: APPLICATION_TYPE, dtype: int64

In [16]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list (bincounts2[bincounts2<100].index)
classifications_to_replace

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    8885
C2000    2982
C1200    2396
C2100    1136
C3000     580
Other     459
C7000     420
C1700     174
C4000     117
Name: CLASSIFICATION, dtype: int64

In [17]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df,dtype=float)
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_ACE MENTOR PROGRAM OF AMERICA INC,NAME_ACTS MINISTRY,NAME_AIR FORCE ASSOCIATION,NAME_ALABAMA FEDERATION OF WOMENS CLUBS,NAME_ALABAMA TREASURE FOREST ASSOCIATION,NAME_ALPHA PHI OMEGA,NAME_ALPHA PHI SIGMA,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [18]:
# Split our preprocessed data into our features and target arrays
y = application_df['IS_SUCCESSFUL'].values

X = application_df.drop('IS_SUCCESSFUL', axis=1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state = 50)

In [19]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

# Compile, Train and Evaluate the Model

In [20]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len( X_train_scaled[0])
hidden_nodes_layer1=7
hidden_nodes_layer2=14
hidden_nodes_layer3=21

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation='relu'))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation='relu'))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 7)                 1911

 dense_1 (Dense)             (None, 14)                112

 dense_2 (Dense)             (None, 1)                 15

=================================================================
Total params: 2,038
Trainable params: 2,038
Non-trainable params: 0
_________________________________________________________________

In [21]:
# Compile the model
nn.compile(loss = 'binary_crossentropy', optimizer = 'adam', metrics=['accuracy'])

In [22]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,validation_split=0.15, epochs=100)

Epoch 1/100
342/342 [==============================] - 4s 7ms/step - loss: 0.5698 - accuracy: 0.7188 - val_loss: 0.4818 - val_accuracy: 0.7886
Epoch 2/100
342/342 [==============================] - 1s 3ms/step - loss: 0.4808 - accuracy: 0.7764 - val_loss: 0.4450 - val_accuracy: 0.8005
Epoch 3/100
342/342 [==============================] - 1s 2ms/step - loss: 0.4569 - accuracy: 0.7849 - val_loss: 0.4289 - val_accuracy: 0.8010
Epoch 4/100
342/342 [==============================] - 1s 2ms/step - loss: 0.4441 - accuracy: 0.7915 - val_loss: 0.4169 - val_accuracy: 0.8088
Epoch 5/100
342/342 [==============================] - 1s 2ms/step - loss: 0.4369 - accuracy: 0.7932 - val_loss: 0.4164 - val_accuracy: 0.8078
Epoch 6/100
342/342 [==============================] - 1s 2ms/step - loss: 0.4333 - accuracy: 0.7938 - val_loss: 0.4155 - val_accuracy: 0.8119
Epoch 7/100
342/342 [==============================] - 1s 2ms/step - loss: 0.4318 - accuracy: 0.7948 - val_loss: 0.4134 - val_accuracy: 0.8119
Epoch 8/100
342/342 [==============================] - 1s 2ms/step - loss: 0.4301 - accuracy: 0.7949 - val_loss: 0.4169 - val_accuracy: 0.8119
Epoch 9/100
342/342 [==============================] - 1s 2ms/step - loss: 0.4289 - accuracy: 0.7966 - val_loss: 0.4152 - val_accuracy: 0.8109
Epoch 10/100
342/342 [==============================] - 1s 2ms/step - loss: 0.4278 - accuracy: 0.7963 - val_loss: 0.4163 - val_accuracy: 0.8114
Epoch 11/100
342/342 [==============================] - 1s 2ms/step - loss: 0.4271 - accuracy: 0.7954 - val_loss: 0.4176 - val_accuracy: 0.8124
Epoch 12/100
342/342 [==============================] - 1s 2ms/step - loss: 0.4265 - accuracy: 0.7982 - val_loss: 0.4162 - val_accuracy: 0.8119
Epoch 13/100
342/342 [==============================] - 1s 3ms/step - loss: 0.4261 - accuracy: 0.7979 - val_loss: 0.4139 - val_accuracy: 0.8155
Epoch 14/100
342/342 [==============================] - 1s 4ms/step - loss: 0.4256 - accuracy: 0.7986 - val_loss: 0.4157 - val_accuracy: 0.8124
Epoch 15/100
342/342 [==============================] - 1s 4ms/step - loss: 0.4251 - accuracy: 0.7982 - val_loss: 0.4143 - val_accuracy: 0.8130
Epoch 16/100
342/342 [==============================] - 1s 3ms/step - loss: 0.4245 - accuracy: 0.7973 - val_loss: 0.4136 - val_accuracy: 0.8145
Epoch 17/100
342/342 [==============================] - 1s 3ms/step - loss: 0.4246 - accuracy: 0.7975 - val_loss: 0.4167 - val_accuracy: 0.8145
Epoch 18/100
342/342 [==============================] - 1s 2ms/step - loss: 0.4246 - accuracy: 0.7967 - val_loss: 0.4163 - val_accuracy: 0.8161
Epoch 19/100
342/342 [==============================] - 1s 2ms/step - loss: 0.4237 - accuracy: 0.7989 - val_loss: 0.4153 - val_accuracy: 0.8130
Epoch 20/100
342/342 [==============================] - 1s 2ms/step - loss: 0.4237 - accuracy: 0.7982 - val_loss: 0.4156 - val_accuracy: 0.8135
Epoch 21/100
342/342 [==============================] - 1s 2ms/step - loss: 0.4231 - accuracy: 0.7997 - val_loss: 0.4147 - val_accuracy: 0.8145
Epoch 22/100
342/342 [==============================] - 1s 2ms/step - loss: 0.4228 - accuracy: 0.7987 - val_loss: 0.4165 - val_accuracy: 0.8166
Epoch 23/100
342/342 [==============================] - 1s 2ms/step - loss: 0.4224 - accuracy: 0.7990 - val_loss: 0.4188 - val_accuracy: 0.8124
Epoch 24/100
342/342 [==============================] - 1s 2ms/step - loss: 0.4220 - accuracy: 0.7999 - val_loss: 0.4191 - val_accuracy: 0.8150
Epoch 25/100
342/342 [==============================] - 1s 2ms/step - loss: 0.4219 - accuracy: 0.8007 - val_loss: 0.4175 - val_accuracy: 0.8161
Epoch 26/100
342/342 [==============================] - 1s 2ms/step - loss: 0.4215 - accuracy: 0.8005 - val_loss: 0.4193 - val_accuracy: 0.8130
Epoch 27/100
342/342 [==============================] - 1s 2ms/step - loss: 0.4210 - accuracy: 0.7998 - val_loss: 0.4154 - val_accuracy: 0.8155
Epoch 28/100
342/342 [==============================] - 1s 3ms/step - loss: 0.4209 - accuracy: 0.7997 - val_loss: 0.4170 - val_accuracy: 0.8161
Epoch 29/100
342/342 [==============================] - 1s 4ms/step - loss: 0.4204 - accuracy: 0.8007 - val_loss: 0.4161 - val_accuracy: 0.8161
Epoch 30/100
342/342 [==============================] - 1s 3ms/step - loss: 0.4202 - accuracy: 0.7996 - val_loss: 0.4155 - val_accuracy: 0.8140
Epoch 31/100
342/342 [==============================] - 1s 2ms/step - loss: 0.4200 - accuracy: 0.8008 - val_loss: 0.4205 - val_accuracy: 0.8119
Epoch 32/100
342/342 [==============================] - 1s 2ms/step - loss: 0.4203 - accuracy: 0.8009 - val_loss: 0.4153 - val_accuracy: 0.8171
Epoch 33/100
342/342 [==============================] - 1s 3ms/step - loss: 0.4201 - accuracy: 0.7989 - val_loss: 0.4140 - val_accuracy: 0.8161
Epoch 34/100
342/342 [==============================] - 1s 3ms/step - loss: 0.4196 - accuracy: 0.8008 - val_loss: 0.4167 - val_accuracy: 0.8145
Epoch 35/100
342/342 [==============================] - 1s 3ms/step - loss: 0.4192 - accuracy: 0.8017 - val_loss: 0.4178 - val_accuracy: 0.8145
Epoch 36/100
342/342 [==============================] - 1s 4ms/step - loss: 0.4193 - accuracy: 0.8014 - val_loss: 0.4188 - val_accuracy: 0.8124
Epoch 37/100
342/342 [==============================] - 1s 3ms/step - loss: 0.4193 - accuracy: 0.8003 - val_loss: 0.4208 - val_accuracy: 0.8098
Epoch 38/100
342/342 [==============================] - 1s 2ms/step - loss: 0.4185 - accuracy: 0.8002 - val_loss: 0.4159 - val_accuracy: 0.8166
Epoch 39/100
342/342 [==============================] - 1s 2ms/step - loss: 0.4184 - accuracy: 0.8009 - val_loss: 0.4165 - val_accuracy: 0.8150
Epoch 40/100
342/342 [==============================] - 1s 2ms/step - loss: 0.4181 - accuracy: 0.8009 - val_loss: 0.4196 - val_accuracy: 0.8119
Epoch 41/100
342/342 [==============================] - 1s 3ms/step - loss: 0.4180 - accuracy: 0.8018 - val_loss: 0.4149 - val_accuracy: 0.8171
Epoch 42/100
342/342 [==============================] - 1s 3ms/step - loss: 0.4185 - accuracy: 0.8006 - val_loss: 0.4179 - val_accuracy: 0.8171
Epoch 43/100
342/342 [==============================] - 1s 4ms/step - loss: 0.4180 - accuracy: 0.8016 - val_loss: 0.4157 - val_accuracy: 0.8171
Epoch 44/100
342/342 [==============================] - 1s 3ms/step - loss: 0.4178 - accuracy: 0.8014 - val_loss: 0.4194 - val_accuracy: 0.8176
Epoch 45/100
342/342 [==============================] - 1s 2ms/step - loss: 0.4180 - accuracy: 0.8001 - val_loss: 0.4187 - val_accuracy: 0.8171
Epoch 46/100
342/342 [==============================] - 1s 2ms/step - loss: 0.4177 - accuracy: 0.8000 - val_loss: 0.4192 - val_accuracy: 0.8145
Epoch 47/100
342/342 [==============================] - 1s 2ms/step - loss: 0.4173 - accuracy: 0.8014 - val_loss: 0.4171 - val_accuracy: 0.8161
Epoch 48/100
342/342 [==============================] - 1s 2ms/step - loss: 0.4173 - accuracy: 0.8022 - val_loss: 0.4182 - val_accuracy: 0.8150
Epoch 49/100
342/342 [==============================] - 1s 2ms/step - loss: 0.4173 - accuracy: 0.8016 - val_loss: 0.4177 - val_accuracy: 0.8140
Epoch 50/100
342/342 [==============================] - 1s 3ms/step - loss: 0.4179 - accuracy: 0.8027 - val_loss: 0.4190 - val_accuracy: 0.8171
Epoch 51/100
342/342 [==============================] - 1s 3ms/step - loss: 0.4175 - accuracy: 0.8018 - val_loss: 0.4190 - val_accuracy: 0.8176
Epoch 52/100
342/342 [==============================] - 1s 3ms/step - loss: 0.4169 - accuracy: 0.8021 - val_loss: 0.4223 - val_accuracy: 0.8140
Epoch 53/100
342/342 [==============================] - 1s 2ms/step - loss: 0.4169 - accuracy: 0.8026 - val_loss: 0.4196 - val_accuracy: 0.8171
Epoch 54/100
342/342 [==============================] - 1s 3ms/step - loss: 0.4161 - accuracy: 0.8028 - val_loss: 0.4201 - val_accuracy: 0.8155
Epoch 55/100
342/342 [==============================] - 1s 3ms/step - loss: 0.4158 - accuracy: 0.8026 - val_loss: 0.4206 - val_accuracy: 0.8155
Epoch 56/100
342/342 [==============================] - 1s 4ms/step - loss: 0.4161 - accuracy: 0.8032 - val_loss: 0.4179 - val_accuracy: 0.8155
Epoch 57/100
342/342 [==============================] - 1s 3ms/step - loss: 0.4156 - accuracy: 0.8029 - val_loss: 0.4160 - val_accuracy: 0.8145
Epoch 58/100
342/342 [==============================] - 1s 3ms/step - loss: 0.4157 - accuracy: 0.8030 - val_loss: 0.4170 - val_accuracy: 0.8176
Epoch 59/100
342/342 [==============================] - 1s 3ms/step - loss: 0.4156 - accuracy: 0.8025 - val_loss: 0.4187 - val_accuracy: 0.8161
Epoch 60/100
342/342 [==============================] - 1s 2ms/step - loss: 0.4152 - accuracy: 0.8037 - val_loss: 0.4174 - val_accuracy: 0.8171
Epoch 61/100
342/342 [==============================] - 1s 3ms/step - loss: 0.4154 - accuracy: 0.8033 - val_loss: 0.4201 - val_accuracy: 0.8181
Epoch 62/100
342/342 [==============================] - 1s 3ms/step - loss: 0.4155 - accuracy: 0.8021 - val_loss: 0.4202 - val_accuracy: 0.8166
Epoch 63/100
342/342 [==============================] - 1s 2ms/step - loss: 0.4149 - accuracy: 0.8037 - val_loss: 0.4219 - val_accuracy: 0.8155
Epoch 64/100
342/342 [==============================] - 1s 2ms/step - loss: 0.4155 - accuracy: 0.8030 - val_loss: 0.4198 - val_accuracy: 0.8140
Epoch 65/100
342/342 [==============================] - 1s 2ms/step - loss: 0.4147 - accuracy: 0.8051 - val_loss: 0.4205 - val_accuracy: 0.8176
Epoch 66/100
342/342 [==============================] - 1s 2ms/step - loss: 0.4151 - accuracy: 0.8029 - val_loss: 0.4217 - val_accuracy: 0.8181
Epoch 67/100
342/342 [==============================] - 1s 2ms/step - loss: 0.4143 - accuracy: 0.8050 - val_loss: 0.4182 - val_accuracy: 0.8130
Epoch 68/100
342/342 [==============================] - 1s 2ms/step - loss: 0.4147 - accuracy: 0.8029 - val_loss: 0.4286 - val_accuracy: 0.8109
Epoch 69/100
342/342 [==============================] - 1s 3ms/step - loss: 0.4151 - accuracy: 0.8030 - val_loss: 0.4211 - val_accuracy: 0.8181
Epoch 70/100
342/342 [==============================] - 1s 3ms/step - loss: 0.4145 - accuracy: 0.8029 - val_loss: 0.4205 - val_accuracy: 0.8166
Epoch 71/100
342/342 [==============================] - 1s 3ms/step - loss: 0.4145 - accuracy: 0.8033 - val_loss: 0.4238 - val_accuracy: 0.8155
Epoch 72/100
342/342 [==============================] - 1s 3ms/step - loss: 0.4147 - accuracy: 0.8038 - val_loss: 0.4197 - val_accuracy: 0.8145
Epoch 73/100
342/342 [==============================] - 1s 2ms/step - loss: 0.4147 - accuracy: 0.8014 - val_loss: 0.4214 - val_accuracy: 0.8171
Epoch 74/100
342/342 [==============================] - 1s 3ms/step - loss: 0.4140 - accuracy: 0.8037 - val_loss: 0.4224 - val_accuracy: 0.8130
Epoch 75/100
342/342 [==============================] - 1s 2ms/step - loss: 0.4145 - accuracy: 0.8034 - val_loss: 0.4219 - val_accuracy: 0.8176
Epoch 76/100
342/342 [==============================] - 1s 3ms/step - loss: 0.4144 - accuracy: 0.8041 - val_loss: 0.4235 - val_accuracy: 0.8161
Epoch 77/100
342/342 [==============================] - 1s 2ms/step - loss: 0.4149 - accuracy: 0.8050 - val_loss: 0.4259 - val_accuracy: 0.8119
Epoch 78/100
342/342 [==============================] - 1s 2ms/step - loss: 0.4155 - accuracy: 0.8032 - val_loss: 0.4210 - val_accuracy: 0.8161
Epoch 79/100
342/342 [==============================] - 1s 3ms/step - loss: 0.4147 - accuracy: 0.8042 - val_loss: 0.4185 - val_accuracy: 0.8192
Epoch 80/100
342/342 [==============================] - 1s 2ms/step - loss: 0.4143 - accuracy: 0.8052 - val_loss: 0.4194 - val_accuracy: 0.8130
Epoch 81/100
342/342 [==============================] - 1s 2ms/step - loss: 0.4141 - accuracy: 0.8029 - val_loss: 0.4202 - val_accuracy: 0.8176
Epoch 82/100
342/342 [==============================] - 1s 2ms/step - loss: 0.4143 - accuracy: 0.8038 - val_loss: 0.4208 - val_accuracy: 0.8161
Epoch 83/100
342/342 [==============================] - 1s 2ms/step - loss: 0.4139 - accuracy: 0.8040 - val_loss: 0.4196 - val_accuracy: 0.8155
Epoch 84/100
342/342 [==============================] - 1s 2ms/step - loss: 0.4140 - accuracy: 0.8034 - val_loss: 0.4205 - val_accuracy: 0.8181
Epoch 85/100
342/342 [==============================] - 1s 3ms/step - loss: 0.4142 - accuracy: 0.8029 - val_loss: 0.4207 - val_accuracy: 0.8166
Epoch 86/100
342/342 [==============================] - 1s 3ms/step - loss: 0.4135 - accuracy: 0.8031 - val_loss: 0.4225 - val_accuracy: 0.8155
Epoch 87/100
342/342 [==============================] - 1s 3ms/step - loss: 0.4139 - accuracy: 0.8027 - val_loss: 0.4210 - val_accuracy: 0.8171
Epoch 88/100
342/342 [==============================] - 1s 2ms/step - loss: 0.4141 - accuracy: 0.8032 - val_loss: 0.4202 - val_accuracy: 0.8171
Epoch 89/100
342/342 [==============================] - 1s 2ms/step - loss: 0.4136 - accuracy: 0.8042 - val_loss: 0.4200 - val_accuracy: 0.8176
Epoch 90/100
342/342 [==============================] - 1s 3ms/step - loss: 0.4137 - accuracy: 0.8041 - val_loss: 0.4203 - val_accuracy: 0.8166
Epoch 91/100
342/342 [==============================] - 1s 3ms/step - loss: 0.4134 - accuracy: 0.8038 - val_loss: 0.4204 - val_accuracy: 0.8166
Epoch 92/100
342/342 [==============================] - 1s 2ms/step - loss: 0.4132 - accuracy: 0.8038 - val_loss: 0.4195 - val_accuracy: 0.8166
Epoch 93/100
342/342 [==============================] - 1s 2ms/step - loss: 0.4134 - accuracy: 0.8047 - val_loss: 0.4227 - val_accuracy: 0.8166
Epoch 94/100
342/342 [==============================] - 1s 2ms/step - loss: 0.4131 - accuracy: 0.8040 - val_loss: 0.4197 - val_accuracy: 0.8181
Epoch 95/100
342/342 [==============================] - 1s 3ms/step - loss: 0.4134 - accuracy: 0.8025 - val_loss: 0.4198 - val_accuracy: 0.8130
Epoch 96/100
342/342 [==============================] - 1s 2ms/step - loss: 0.4134 - accuracy: 0.8035 - val_loss: 0.4182 - val_accuracy: 0.8176
Epoch 97/100
342/342 [==============================] - 1s 2ms/step - loss: 0.4135 - accuracy: 0.8039 - val_loss: 0.4232 - val_accuracy: 0.8140
Epoch 98/100
342/342 [==============================] - 1s 3ms/step - loss: 0.4131 - accuracy: 0.8033 - val_loss: 0.4252 - val_accuracy: 0.8161
Epoch 99/100
342/342 [==============================] - 1s 3ms/step - loss: 0.4134 - accuracy: 0.8040 - val_loss: 0.4199 - val_accuracy: 0.8161
Epoch 100/100
342/342 [==============================] - 1s 4ms/step - loss: 0.4131 - accuracy: 0.8040 - val_loss: 0.4232 - val_accuracy: 0.8166

In [23]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

134/134 - 0s - loss: 0.4501 - accuracy: 0.7999 - 181ms/epoch - 1ms/step
Loss: 0.45012167096138, Accuracy: 0.7999067306518555

In [24]:
# Export our model to HDF5 file
from google.colab import files

nn.save('/content/AlphabetSoupCharity_Optimization.h5')
files.download('/content/AlphabetSoupCharity_Optimization.h5')