## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv",
                             nrows=int(0.5 * len(pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv"))))
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns = ['EIN', 'NAME'])

In [3]:
# Determine the number of unique values in each column.
for x in application_df.columns:
    print(x, len(application_df[x].unique()))

APPLICATION_TYPE 14
AFFILIATION 6
CLASSIFICATION 47
USE_CASE 5
ORGANIZATION 4
STATUS 2
INCOME_AMT 9
SPECIAL_CONSIDERATIONS 2
ASK_AMT 4158
IS_SUCCESSFUL 2

In [4]:
# Look at APPLICATION_TYPE value counts for binning
counts = application_df['APPLICATION_TYPE'].value_counts()
counts

T3     13822
T6       664
T4       592
T19      459
T8       433
T10      401
T7       375
T5       264
T9        84
T13       33
T12       11
T2         8
T29        2
T25        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(counts[counts<500].index)
application_types_to_replace

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       13822
Other     2071
T6         664
T4         592
Name: APPLICATION_TYPE, dtype: int64

In [10]:
# Look at CLASSIFICATION value counts for binning
bincounts = application_df['CLASSIFICATION'].value_counts()

In [11]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classcounts = bincounts[bincounts>1]
classcounts

C1000    8885
C2000    2982
C1200    2396
C2100    1136
C3000     580
C7000     420
C1700     174
C4000     117
C5000      68
C2700      67
C7100      47
C1270      46
C2800      30
C1240      18
C7200      18
C1230      14
C1300      14
C1400      13
C2300      13
C7120      12
C8000      11
C1280      11
C8200       9
C1800       7
C1500       7
C7210       6
C6000       6
C1235       5
C1237       5
C1600       4
C1250       4
C4100       3
C1238       3
C2710       2
C1260       2
C1720       2
C1278       2
Name: CLASSIFICATION, dtype: int64

In [12]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list (bincounts[bincounts<100].index)
classifications_to_replace

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    8885
C2000    2982
C1200    2396
C2100    1136
C3000     580
Other     459
C7000     420
C1700     174
C4000     117
Name: CLASSIFICATION, dtype: int64

In [13]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df,dtype=float)
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T6,AFFILIATION_CompanySponsored,AFFILIATION_Family/Parent,AFFILIATION_Independent,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,1.0,0.0,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [19]:
# Split our preprocessed data into our features and target arrays
y = application_df['IS_SUCCESSFUL'].values

X = application_df.drop('IS_SUCCESSFUL', axis=1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state = 42)

In [20]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [22]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len( X_train_scaled[0])
hidden_nodes_layer1=7
hidden_nodes_layer2=14
hidden_nodes_layer3=21

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation='relu'))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation='relu'))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 7)                 294

 dense_1 (Dense)             (None, 14)                112

 dense_2 (Dense)             (None, 1)                 15

=================================================================
Total params: 421
Trainable params: 421
Non-trainable params: 0
_________________________________________________________________

In [23]:
# Compile the model
nn.compile(loss = 'binary_crossentropy', optimizer = 'adam', metrics=['accuracy'])

In [24]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,validation_split=0.15, epochs=100)

Epoch 1/100
342/342 [==============================] - 3s 4ms/step - loss: 0.6154 - accuracy: 0.6815 - val_loss: 0.5930 - val_accuracy: 0.7021
Epoch 2/100
342/342 [==============================] - 1s 3ms/step - loss: 0.5686 - accuracy: 0.7190 - val_loss: 0.5788 - val_accuracy: 0.7244
Epoch 3/100
342/342 [==============================] - 1s 3ms/step - loss: 0.5588 - accuracy: 0.7314 - val_loss: 0.5746 - val_accuracy: 0.7124
Epoch 4/100
342/342 [==============================] - 1s 3ms/step - loss: 0.5538 - accuracy: 0.7358 - val_loss: 0.5718 - val_accuracy: 0.7264
Epoch 5/100
342/342 [==============================] - 1s 2ms/step - loss: 0.5503 - accuracy: 0.7380 - val_loss: 0.5699 - val_accuracy: 0.7249
Epoch 6/100
342/342 [==============================] - 1s 2ms/step - loss: 0.5477 - accuracy: 0.7386 - val_loss: 0.5697 - val_accuracy: 0.7259
Epoch 7/100
342/342 [==============================] - 1s 2ms/step - loss: 0.5464 - accuracy: 0.7410 - val_loss: 0.5662 - val_accuracy: 0.7259
Epoch 8/100
342/342 [==============================] - 1s 2ms/step - loss: 0.5456 - accuracy: 0.7422 - val_loss: 0.5684 - val_accuracy: 0.7254
Epoch 9/100
342/342 [==============================] - 1s 2ms/step - loss: 0.5450 - accuracy: 0.7406 - val_loss: 0.5665 - val_accuracy: 0.7285
Epoch 10/100
342/342 [==============================] - 1s 2ms/step - loss: 0.5438 - accuracy: 0.7423 - val_loss: 0.5669 - val_accuracy: 0.7269
Epoch 11/100
342/342 [==============================] - 1s 2ms/step - loss: 0.5436 - accuracy: 0.7409 - val_loss: 0.5685 - val_accuracy: 0.7254
Epoch 12/100
342/342 [==============================] - 1s 2ms/step - loss: 0.5431 - accuracy: 0.7427 - val_loss: 0.5675 - val_accuracy: 0.7259
Epoch 13/100
342/342 [==============================] - 1s 2ms/step - loss: 0.5429 - accuracy: 0.7426 - val_loss: 0.5655 - val_accuracy: 0.7249
Epoch 14/100
342/342 [==============================] - 1s 2ms/step - loss: 0.5423 - accuracy: 0.7417 - val_loss: 0.5644 - val_accuracy: 0.7295
Epoch 15/100
342/342 [==============================] - 1s 2ms/step - loss: 0.5419 - accuracy: 0.7427 - val_loss: 0.5651 - val_accuracy: 0.7280
Epoch 16/100
342/342 [==============================] - 1s 2ms/step - loss: 0.5414 - accuracy: 0.7436 - val_loss: 0.5666 - val_accuracy: 0.7254
Epoch 17/100
342/342 [==============================] - 1s 2ms/step - loss: 0.5417 - accuracy: 0.7427 - val_loss: 0.5644 - val_accuracy: 0.7280
Epoch 18/100
342/342 [==============================] - 1s 2ms/step - loss: 0.5415 - accuracy: 0.7427 - val_loss: 0.5651 - val_accuracy: 0.7290
Epoch 19/100
342/342 [==============================] - 1s 3ms/step - loss: 0.5409 - accuracy: 0.7433 - val_loss: 0.5663 - val_accuracy: 0.7264
Epoch 20/100
342/342 [==============================] - 1s 3ms/step - loss: 0.5410 - accuracy: 0.7429 - val_loss: 0.5660 - val_accuracy: 0.7259
Epoch 21/100
342/342 [==============================] - 1s 3ms/step - loss: 0.5406 - accuracy: 0.7427 - val_loss: 0.5653 - val_accuracy: 0.7275
Epoch 22/100
342/342 [==============================] - 1s 2ms/step - loss: 0.5406 - accuracy: 0.7431 - val_loss: 0.5652 - val_accuracy: 0.7249
Epoch 23/100
342/342 [==============================] - 1s 2ms/step - loss: 0.5401 - accuracy: 0.7453 - val_loss: 0.5690 - val_accuracy: 0.7259
Epoch 24/100
342/342 [==============================] - 1s 2ms/step - loss: 0.5396 - accuracy: 0.7455 - val_loss: 0.5650 - val_accuracy: 0.7254
Epoch 25/100
342/342 [==============================] - 1s 2ms/step - loss: 0.5401 - accuracy: 0.7417 - val_loss: 0.5640 - val_accuracy: 0.7249
Epoch 26/100
342/342 [==============================] - 1s 2ms/step - loss: 0.5400 - accuracy: 0.7441 - val_loss: 0.5681 - val_accuracy: 0.7254
Epoch 27/100
342/342 [==============================] - 1s 2ms/step - loss: 0.5398 - accuracy: 0.7429 - val_loss: 0.5651 - val_accuracy: 0.7269
Epoch 28/100
342/342 [==============================] - 1s 2ms/step - loss: 0.5395 - accuracy: 0.7438 - val_loss: 0.5667 - val_accuracy: 0.7275
Epoch 29/100
342/342 [==============================] - 1s 2ms/step - loss: 0.5396 - accuracy: 0.7441 - val_loss: 0.5643 - val_accuracy: 0.7280
Epoch 30/100
342/342 [==============================] - 1s 2ms/step - loss: 0.5392 - accuracy: 0.7450 - val_loss: 0.5661 - val_accuracy: 0.7306
Epoch 31/100
342/342 [==============================] - 1s 2ms/step - loss: 0.5394 - accuracy: 0.7439 - val_loss: 0.5632 - val_accuracy: 0.7306
Epoch 32/100
342/342 [==============================] - 1s 2ms/step - loss: 0.5394 - accuracy: 0.7449 - val_loss: 0.5632 - val_accuracy: 0.7295
Epoch 33/100
342/342 [==============================] - 1s 2ms/step - loss: 0.5388 - accuracy: 0.7450 - val_loss: 0.5632 - val_accuracy: 0.7290
Epoch 34/100
342/342 [==============================] - 1s 2ms/step - loss: 0.5389 - accuracy: 0.7450 - val_loss: 0.5646 - val_accuracy: 0.7264
Epoch 35/100
342/342 [==============================] - 1s 2ms/step - loss: 0.5385 - accuracy: 0.7440 - val_loss: 0.5661 - val_accuracy: 0.7259
Epoch 36/100
342/342 [==============================] - 1s 2ms/step - loss: 0.5388 - accuracy: 0.7459 - val_loss: 0.5632 - val_accuracy: 0.7301
Epoch 37/100
342/342 [==============================] - 1s 3ms/step - loss: 0.5389 - accuracy: 0.7438 - val_loss: 0.5639 - val_accuracy: 0.7264
Epoch 38/100
342/342 [==============================] - 1s 3ms/step - loss: 0.5385 - accuracy: 0.7460 - val_loss: 0.5632 - val_accuracy: 0.7316
Epoch 39/100
342/342 [==============================] - 1s 2ms/step - loss: 0.5383 - accuracy: 0.7445 - val_loss: 0.5632 - val_accuracy: 0.7290
Epoch 40/100
342/342 [==============================] - 1s 2ms/step - loss: 0.5384 - accuracy: 0.7447 - val_loss: 0.5640 - val_accuracy: 0.7280
Epoch 41/100
342/342 [==============================] - 1s 2ms/step - loss: 0.5379 - accuracy: 0.7459 - val_loss: 0.5631 - val_accuracy: 0.7316
Epoch 42/100
342/342 [==============================] - 1s 2ms/step - loss: 0.5381 - accuracy: 0.7436 - val_loss: 0.5634 - val_accuracy: 0.7285
Epoch 43/100
342/342 [==============================] - 1s 2ms/step - loss: 0.5379 - accuracy: 0.7448 - val_loss: 0.5633 - val_accuracy: 0.7301
Epoch 44/100
342/342 [==============================] - 1s 2ms/step - loss: 0.5379 - accuracy: 0.7442 - val_loss: 0.5634 - val_accuracy: 0.7259
Epoch 45/100
342/342 [==============================] - 1s 2ms/step - loss: 0.5380 - accuracy: 0.7441 - val_loss: 0.5622 - val_accuracy: 0.7326
Epoch 46/100
342/342 [==============================] - 1s 2ms/step - loss: 0.5379 - accuracy: 0.7445 - val_loss: 0.5629 - val_accuracy: 0.7275
Epoch 47/100
342/342 [==============================] - 1s 2ms/step - loss: 0.5375 - accuracy: 0.7445 - val_loss: 0.5635 - val_accuracy: 0.7269
Epoch 48/100
342/342 [==============================] - 1s 2ms/step - loss: 0.5374 - accuracy: 0.7450 - val_loss: 0.5621 - val_accuracy: 0.7316
Epoch 49/100
342/342 [==============================] - 1s 2ms/step - loss: 0.5375 - accuracy: 0.7441 - val_loss: 0.5632 - val_accuracy: 0.7321
Epoch 50/100
342/342 [==============================] - 1s 2ms/step - loss: 0.5372 - accuracy: 0.7442 - val_loss: 0.5629 - val_accuracy: 0.7332
Epoch 51/100
342/342 [==============================] - 1s 2ms/step - loss: 0.5373 - accuracy: 0.7459 - val_loss: 0.5628 - val_accuracy: 0.7295
Epoch 52/100
342/342 [==============================] - 1s 2ms/step - loss: 0.5373 - accuracy: 0.7456 - val_loss: 0.5622 - val_accuracy: 0.7326
Epoch 53/100
342/342 [==============================] - 1s 2ms/step - loss: 0.5369 - accuracy: 0.7460 - val_loss: 0.5634 - val_accuracy: 0.7332
Epoch 54/100
342/342 [==============================] - 1s 3ms/step - loss: 0.5371 - accuracy: 0.7453 - val_loss: 0.5629 - val_accuracy: 0.7321
Epoch 55/100
342/342 [==============================] - 1s 3ms/step - loss: 0.5367 - accuracy: 0.7467 - val_loss: 0.5632 - val_accuracy: 0.7332
Epoch 56/100
342/342 [==============================] - 1s 3ms/step - loss: 0.5366 - accuracy: 0.7462 - val_loss: 0.5620 - val_accuracy: 0.7326
Epoch 57/100
342/342 [==============================] - 1s 2ms/step - loss: 0.5367 - accuracy: 0.7438 - val_loss: 0.5635 - val_accuracy: 0.7316
Epoch 58/100
342/342 [==============================] - 1s 2ms/step - loss: 0.5365 - accuracy: 0.7444 - val_loss: 0.5648 - val_accuracy: 0.7259
Epoch 59/100
342/342 [==============================] - 1s 2ms/step - loss: 0.5363 - accuracy: 0.7482 - val_loss: 0.5639 - val_accuracy: 0.7244
Epoch 60/100
342/342 [==============================] - 1s 2ms/step - loss: 0.5371 - accuracy: 0.7438 - val_loss: 0.5646 - val_accuracy: 0.7275
Epoch 61/100
342/342 [==============================] - 1s 2ms/step - loss: 0.5366 - accuracy: 0.7466 - val_loss: 0.5647 - val_accuracy: 0.7280
Epoch 62/100
342/342 [==============================] - 1s 2ms/step - loss: 0.5363 - accuracy: 0.7451 - val_loss: 0.5646 - val_accuracy: 0.7326
Epoch 63/100
342/342 [==============================] - 1s 2ms/step - loss: 0.5366 - accuracy: 0.7455 - val_loss: 0.5631 - val_accuracy: 0.7306
Epoch 64/100
342/342 [==============================] - 1s 2ms/step - loss: 0.5366 - accuracy: 0.7453 - val_loss: 0.5631 - val_accuracy: 0.7285
Epoch 65/100
342/342 [==============================] - 1s 2ms/step - loss: 0.5358 - accuracy: 0.7462 - val_loss: 0.5641 - val_accuracy: 0.7301
Epoch 66/100
342/342 [==============================] - 1s 2ms/step - loss: 0.5363 - accuracy: 0.7447 - val_loss: 0.5638 - val_accuracy: 0.7285
Epoch 67/100
342/342 [==============================] - 1s 2ms/step - loss: 0.5358 - accuracy: 0.7468 - val_loss: 0.5646 - val_accuracy: 0.7306
Epoch 68/100
342/342 [==============================] - 1s 2ms/step - loss: 0.5360 - accuracy: 0.7456 - val_loss: 0.5637 - val_accuracy: 0.7342
Epoch 69/100
342/342 [==============================] - 1s 2ms/step - loss: 0.5357 - accuracy: 0.7475 - val_loss: 0.5633 - val_accuracy: 0.7332
Epoch 70/100
342/342 [==============================] - 1s 2ms/step - loss: 0.5359 - accuracy: 0.7448 - val_loss: 0.5630 - val_accuracy: 0.7301
Epoch 71/100
342/342 [==============================] - 1s 2ms/step - loss: 0.5356 - accuracy: 0.7460 - val_loss: 0.5633 - val_accuracy: 0.7290
Epoch 72/100
342/342 [==============================] - 1s 3ms/step - loss: 0.5355 - accuracy: 0.7477 - val_loss: 0.5656 - val_accuracy: 0.7295
Epoch 73/100
342/342 [==============================] - 1s 3ms/step - loss: 0.5356 - accuracy: 0.7470 - val_loss: 0.5620 - val_accuracy: 0.7316
Epoch 74/100
342/342 [==============================] - 1s 2ms/step - loss: 0.5356 - accuracy: 0.7472 - val_loss: 0.5631 - val_accuracy: 0.7321
Epoch 75/100
342/342 [==============================] - 1s 2ms/step - loss: 0.5357 - accuracy: 0.7463 - val_loss: 0.5634 - val_accuracy: 0.7306
Epoch 76/100
342/342 [==============================] - 1s 2ms/step - loss: 0.5355 - accuracy: 0.7469 - val_loss: 0.5623 - val_accuracy: 0.7326
Epoch 77/100
342/342 [==============================] - 1s 3ms/step - loss: 0.5355 - accuracy: 0.7470 - val_loss: 0.5644 - val_accuracy: 0.7311
Epoch 78/100
342/342 [==============================] - 1s 4ms/step - loss: 0.5353 - accuracy: 0.7454 - val_loss: 0.5628 - val_accuracy: 0.7311
Epoch 79/100
342/342 [==============================] - 1s 4ms/step - loss: 0.5352 - accuracy: 0.7468 - val_loss: 0.5638 - val_accuracy: 0.7290
Epoch 80/100
342/342 [==============================] - 1s 4ms/step - loss: 0.5352 - accuracy: 0.7481 - val_loss: 0.5634 - val_accuracy: 0.7285
Epoch 81/100
342/342 [==============================] - 2s 5ms/step - loss: 0.5355 - accuracy: 0.7469 - val_loss: 0.5650 - val_accuracy: 0.7311
Epoch 82/100
342/342 [==============================] - 1s 4ms/step - loss: 0.5351 - accuracy: 0.7458 - val_loss: 0.5648 - val_accuracy: 0.7311
Epoch 83/100
342/342 [==============================] - 1s 2ms/step - loss: 0.5346 - accuracy: 0.7476 - val_loss: 0.5653 - val_accuracy: 0.7295
Epoch 84/100
342/342 [==============================] - 1s 3ms/step - loss: 0.5354 - accuracy: 0.7478 - val_loss: 0.5644 - val_accuracy: 0.7311
Epoch 85/100
342/342 [==============================] - 1s 3ms/step - loss: 0.5351 - accuracy: 0.7465 - val_loss: 0.5625 - val_accuracy: 0.7332
Epoch 86/100
342/342 [==============================] - 1s 3ms/step - loss: 0.5354 - accuracy: 0.7463 - val_loss: 0.5640 - val_accuracy: 0.7316
Epoch 87/100
342/342 [==============================] - 1s 2ms/step - loss: 0.5350 - accuracy: 0.7458 - val_loss: 0.5658 - val_accuracy: 0.7301
Epoch 88/100
342/342 [==============================] - 1s 2ms/step - loss: 0.5352 - accuracy: 0.7487 - val_loss: 0.5655 - val_accuracy: 0.7326
Epoch 89/100
342/342 [==============================] - 1s 2ms/step - loss: 0.5345 - accuracy: 0.7472 - val_loss: 0.5636 - val_accuracy: 0.7238
Epoch 90/100
342/342 [==============================] - 1s 2ms/step - loss: 0.5350 - accuracy: 0.7459 - val_loss: 0.5644 - val_accuracy: 0.7321
Epoch 91/100
342/342 [==============================] - 1s 2ms/step - loss: 0.5348 - accuracy: 0.7469 - val_loss: 0.5654 - val_accuracy: 0.7285
Epoch 92/100
342/342 [==============================] - 1s 2ms/step - loss: 0.5346 - accuracy: 0.7464 - val_loss: 0.5635 - val_accuracy: 0.7321
Epoch 93/100
342/342 [==============================] - 1s 2ms/step - loss: 0.5348 - accuracy: 0.7467 - val_loss: 0.5637 - val_accuracy: 0.7326
Epoch 94/100
342/342 [==============================] - 1s 2ms/step - loss: 0.5341 - accuracy: 0.7465 - val_loss: 0.5674 - val_accuracy: 0.7306
Epoch 95/100
342/342 [==============================] - 1s 2ms/step - loss: 0.5348 - accuracy: 0.7463 - val_loss: 0.5633 - val_accuracy: 0.7321
Epoch 96/100
342/342 [==============================] - 2s 5ms/step - loss: 0.5344 - accuracy: 0.7479 - val_loss: 0.5669 - val_accuracy: 0.7295
Epoch 97/100
342/342 [==============================] - 2s 7ms/step - loss: 0.5345 - accuracy: 0.7462 - val_loss: 0.5643 - val_accuracy: 0.7295
Epoch 98/100
342/342 [==============================] - 3s 8ms/step - loss: 0.5345 - accuracy: 0.7474 - val_loss: 0.5643 - val_accuracy: 0.7301
Epoch 99/100
342/342 [==============================] - 1s 4ms/step - loss: 0.5345 - accuracy: 0.7472 - val_loss: 0.5639 - val_accuracy: 0.7264
Epoch 100/100
342/342 [==============================] - 1s 2ms/step - loss: 0.5343 - accuracy: 0.7476 - val_loss: 0.5630 - val_accuracy: 0.7285

In [25]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

134/134 - 0s - loss: 0.5565 - accuracy: 0.7353 - 166ms/epoch - 1ms/step
Loss: 0.5565156936645508, Accuracy: 0.7353078126907349

In [27]:
# Export our model to HDF5 file
from google.colab import files

nn.save('/content/AlphabetSoupCharity.h5')
files.download('/content/AlphabetSoupCharity.h5')